<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anjoyo.cnblog.activitys"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon1"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name="com.anjoyo.cnblog.activitys.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.anjoyo.cnblog.activitys.HomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.anjoyo.cnblog.activitys.hotnews.HotNewsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.anjoyo.cnblog.activitys.latestnews.LatestNewsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.anjoyo.cnblog.activitys.recommendednews.RecommendedNewsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.anjoyo.cnblog.activitys.allblogs.AllBlogsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.anjoyo.cnblog.activitys.hour48blogs.Hour48BlogsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.anjoyo.cnblog.activitys.day10blogs.Day10BlogsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.anjoyo.cnblog.activitys.newsmarks.NewsMarksActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.anjoyo.cnblog.activitys.offlineblogs.OfflineBlogsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.anjoyo.cnblog.activitys.search.SearchBlogerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.anjoyo.cnblog.activitys.setting.SettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.anjoyo.cnblog.activitys.hotnews.HotNewsContentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.anjoyo.cnblog.activitys.hotnews.NewsCommentsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.anjoyo.cnblog.activitys.allblogs.BlogContentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.anjoyo.cnblog.activitys.offlineblogs.OfflineBlogsContentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.anjoyo.cnblog.activitys.search.SearchBlogerBlogActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.anjoyo.cnblog.activitys.allblogs.ComeBlogerBlogListBlogContentActivity"
            android:screenOrientation="portrait" >
        </activity>
        </application>

</manifest>